body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Frank Ruhl Libre';
}

header {
    padding: 5px 0;
}

main {
    margin: 15px;
    padding: 15px;
}

h1 {
    text-align: center;
    padding: 5px 40px;
}

h2 {
    text-decoration: none;
}

#receipe-container {
    width: 650px;
    display: flex;
    flex-direction: column;
}

#recipe-comment {
    color: #004d4c;
    font-size: small;
}

.flexcontainer-centered {
    display: flex;
    justify-content: center;
}


#logo {
    max-height: 45px;
    margin-bottom: 10px;
}

#recipe-img {
    border-radius: 10px;
    margin: 5px 0;
}

#image-container {
    text-align: center;
    color: #999999;
}

#sub-bar {
    border-top: solid 1px #ffd877;
    background-color: #fdfbf1;
    color: #004d4c;
}

.uppercased {
    text-transform: uppercase;
}

.capitalized {
    text-transform: capitalize;
}

.text-red {
    color: #c06133;
}

.no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
}

#featured-container {
    padding-left: 20px;
    border-left: solid 2px #ffd877;
}

.paragrah-title {
    border-bottom: solid 1px #c4f3f2;
    width: 100%;
    padding: 25px 0;
}

